<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-3">
    <div style="text-align: center">
        <form action="#" th:action="'/survey/search'" method="get">
            <input type="text" name="searchInput">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <h3 th:text="${searchValue}"/>

    <div th:each="survey : ${surveys}">
        <a th:href="'/survey/' + ${survey.id}">
            <tr>
                <td th:text="${survey.name}"/>
            </tr>
        </a>
    </div>
</div>

</body>
</html>